{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'download/css/download.css' %}">
   <script src="{% static 'download/js/download.js' %}"></script>
  <title>Download</title>
</head>
<body>
  <div class="container">
    <h2>File ready to download</h2>
    <p>File: {{ filename }}</p>
    <a href="{{ download_url }}" id="download-link" download>Click to download</a>
  </div>
</body>
</html>