{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'download/css/index.css' %}">
    <script src="{% static 'your_app/js/index.js' %}"></script>
    <title>Downloader</title>
</head>

<body>
    <div class="container">
        <form action="" method="post" onsubmit="showLoading()">
            <label for="inputUrl">YouTube video URL:</label>
            <input type="text" id="inputUrl" name="inputUrl" placeholder="https://www.youtube.com/watch?v=...">
            <button type="submit">Download</button>
        </form>
    </div>


</body>
<script>

</script>

</html>